<div id="career">
	<div id="career-main">
		<br>
		<h3>
			Born in New Zealand, Max developed an early love for football after moving to the UK as a child. In his teens he was on the books of professional clubs Milton Keynes Dons and Luton Town.
		</h3>
		
		<!-- Max then kept goal as a 16-year old for local men's side Buckingham Town, where he was spotted by scouts at Oxford United who signed him on a 2-year scholarship. Guided by former England international goalkeeper and Manchester United coach Alan Hodgkinson, Max earned a professional contract with Oxford shortly before his 19th birthday. -->
		<h3>
			Guided as a scholar by former England international goalkeeper and Manchester United coach Alan Hodgkinson, Max signed professional terms with Oxford United shortly before his 19th birthday.
		</h3>
			
		<h3>
				During the 2012-2013 season Max made four 1st team appearances for Oxford, recording a hat-trick of clean sheets in the process. He also won the <i>Golden Glove</i> award for his role in New Zealand's success in the Oceania qualifiers for the FIFA Under 20 World Cup.
		</h3>
		
		<h3>
			Max kept goal against Uzbekistan and Croatia at the Under 20 World Cup in Turkey that summer. Despite being knocked out at the group stage, facing up against future world stars such as Fiorentina's Ante Rebic was a fantastic experience for Max.
		</h3>

	</div>
	<div id="career-side">
		<h4>Career Statistics</h4>
		<table class="table table-hover">
		</table>

		<br>

		<h4>Achievements</h4>
		<p>
			<ul>
				<li>Professional debut vs Burton Albion, 8th March 2013</li>
				<li><i>Golden Glove</i> award at Oceania U20 World Cup Qualifying tournament</li>
				<li>Represented New Zealand at FIFA Under 20 World Cup 2013 in Turkey</li>
			</ul>
		</p>
	</div>
</div>



