<div id="career">
	<div id="career-main">
		<h3>
			Born in New Zealand, Max developed an early love for football after moving to the UK as a child. In his teens he was on the books of professional clubs Milton Keynes Dons and Luton Town.
		</h3>
		<br>

		<p>
			Max then kept goal as a 16-year old for local men's side Buckingham Town, where he was spotted by scouts at Oxford United who signed him on a 2-year scholarship. Guided by former England international goalkeeper and Manchester United coach Alan Hodgkinson, Max earned a professional contract with Oxford shortly before his 19th birthday.
		</p>
		
		<p>
			During the 2012-2013 season Max travelled to Fiji where he helped New Zealand to qualify for the FIFA Under 20 World Cup 2013 in Turkey. Max was awarded the tournament's Golden Glove award for his performances. 
		</p>
	
		<h3>
			Max made his professional debut for Oxford United in the 1-1 draw at home to Burton Albion in March 2013. He went on to make another three appearances that season, recording a hat-trick of clean sheets in the process.
		</h3>
		<br>

		<p>
			Max's displays in the Oxford United first team earned him a starting place for New Zealand at the Under 20 World Cup that summer.
		</p>
		
		<p>
			Max kept goal against Uzbekistan and Croatia. Despite being knocked out at the group stage, facing up against future world stars such as Fiorentina's Ante Rebic was a fantastic experience for Max.
		</p>

	</div>
	<div id="career-side">
		<h4>Career Statistics</h4>
		<p>
			<ul>
				<li>Lorem ipsum....</li>
			</ul>
		<br>
		<h4>Achievements</h4>
	</div>
</div>



