<div id="interview">
	<h2>
		Getting to know Max
	</h2>
	
	<blockquote>
		<h4>
			I support two teams. When I moved to England my favourite player was Peter Schmeichel, so I grew up supporting Man United. However I was brought up in Milton Keynes and my family had season tickets for the MK Dons since their formative year in 2004, so I spent pretty much every Saturday afternoon watching the Dons as a teenager.
		</h4>
		<footer><b>Who did you support as a kid?</b></footer>
	</blockquote>

	<blockquote class="blockquote-reverse">
		<h4>
			Two goalkeepers in particular had a big influence on me: Peter Schmeichel and Edwin van der Sar. They were magnificant players, both technically and mentally. I've also learnt a huge amount playing behind Ryan Clarke at Oxford; he's a top professional. Outside of football I'm a huge fan of Roger Federer - the guy is immaculate technically and never gives up.
		</h4>
		<footer><b>Who are your sporting role models?</b></footer>
	</blockquote>

	<blockquote>
		<h4>
			Football is my life so I don't get too much time to do other things! However I've played chess since I was a kid and recently joined a local club in Oxford where I'm learning a lot getting schooled by seasoned experts!
		</h4>
		<footer><b>You spend a lot of time playing and watching football. What else do you enjoy doing?</b></footer>
	</blockquote>

<blockquote class="blockquote-reverse">
		<h4>
			I was born in New Zealand and raised in England. My dad's side of the family is from the Cook Islands and my mum's side is from Switzerland. And my dad was born in Australia, so that explains that!
		</h4>
		<footer><b>What's with the five nationalities, are you sure you're not a spy?</b></footer>
	</blockquote>

	<blockquote>
		<h4>
			I firstly want to get regular game time at Oxford so I can stake my claim to the number 1 spot and help us get promoted. Longer term I'm aiming for the top i.e. the Premiership, while I'd also love to play in Europe at some point to get experience of a different footballing culture. It's also a major ambition of mine to represent New Zealand at a World Cup finals. 
		</h4>
		<footer><b>Sum up your career ambitions for us.</b></footer>
	</blockquote>

</div>