<div id="profile">
	<div id="profile-left">
		<%= image_tag "http://www.oufc.co.uk/cms_images/player/crocombe-640259-612731_478x359.jpg", height: "70%", width: "100%" %>
		<br>
		<ul>
			<li>Name: Maxime Tereomana Crocombe</li>
			<li>Birthplace: Auckland, New Zealand</li>
			<li>Date of Birth: 12th August 1993 (20 years old)</li>
			<li>Nationalities: Australia, Cook Islands, New Zealand, Switzerland, United Kingdom</li>
		</ul>
	</div>
	<div id="profile-right">
		<h3>Physical</h3>
			<ul>
				<li>Height: 195cm</li>
				<li>Weight: xxxx</li>
			</ul>
		<br>
		<h3>
	</div>
</div>