<div id="profile">
	<div id="profile-left">
		
		<%= image_tag "http://www.oufc.co.uk/cms_images/player/crocombe-640259-612731_478x359.jpg", height: "90%", width: "100%" %>
		<br>
		
	</div>
	<div id="profile-right">
		<br>
		<h1>Maxime Teremoana Crocombe</h1>
		<br>
			<dl class="dl-horizontal">
				<dt>Birthplace</dt>
				<dd>Auckland, New Zealand</dd>
				<dt>Date of Birth</dt>
				<dd>12th August 1993 (20 years old)</dd>
				<dt>Nationalities</dt>
				<dd>Australia, Cook Islands, New Zealand, Switzerland, United Kingdom</dd>
			</dl>
		<br>
			<dl class="dl-horizontal">
				<dt>Height</dt>
				<dd>195cm</dd>
				<dt>Weight</dt>
				<dd>70kg</dd>
				<dt>Boots</dt>
				<dd>Nike Vapours</dd>
				<dt>Gloves</dt>
				<dd>Sponsored by Onesport</dd>
			</dl>
	</div>
</div>