<h1>Max Crocombe</h1>

<div class="container">
	<p>
		<%= image_tag "http://www.vectorsland.com/imgd/l97533-oxford-united-fc-logo-13446.png", size: "150x150" %>
		<%= image_tag "http://upload.wikimedia.org/wikipedia/en/6/6b/New_Zealand_Football.svg", size: "130x130" %>
	</p>
	<br>
	<p>Bio	Pictures	Stats	Contact</p>
</div>